html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
nav{
  height: 60px;
  width: 100%;
  /* background-color: lightblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: .7rem 0;
  z-index: 10;
}
.logo-txt{
  font-size: larger;
  color: #9762f5;
}

.bars{
  display: none;
  color: black;
}
.nav-list{
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.links{
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 .7rem;
  height: 100%;
  cursor: pointer;
}
.btn:focus{
  box-shadow: none;
}
.nav-btn .btn-sign{
  background: #9762f5;
  border: none;
  color: white;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  margin: 0;
}
.res-nav{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  top: -100%;
  left: 0;
  z-index: 999;
  transition: all .3s ease;
}
.res-nav-open{
  top: 0 !important;
}
.close-nav{
  right: 4%;
  top: 4%;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
}
.res-nav-ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  height: 100%;
}
.res-nav-ul li{
  font-weight: bold;
  font-size: large;
}
.res-nav-btn{
  color: white;
  background-color: #9762f5;
}

@media screen and (max-width: 768px) {
  .bars{
  display: block;
  position: absolute;
  right: 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  }
  .nav-list{
    display: none;
  }
  .nav-btn{
    display: none;
  }
}